/*全局文字*/
.font-12{font-size:12px}
.font-14{font-size:14px}
.font-16{font-size:16px}
.font-18{font-size:18px}
.font-20{font-size:20px}
.font-normal{font-weight:normal}
.font-bold{font-weight:bold}

/*全局字體顏色*/
.col-428bca{color:#428bca;}
.col-3276b1{color:#3276b1;}
.col-5cb85c{color:#5cb85c;}
.col-47a447{color:#47a447;}
.col-5bc0de{color:#5bc0de;}
.col-39b3d7{color:#39b3d7;}
.col-f0ad4e{color:#f0ad4e;}
.col-ed9c28{color:#ed9c28;}
.col-d9534f{color:#d9534f;}
.col-d2322d{color:#d2322d;}
.col-c3cdd9{color:#c3cdd9;}
.col-fff{color:#fff;}
.col-000{color:#000;}

@col-428bca:#428bca;
@col-3276b1:#3276b1;
@col-5cb85c:#5cb85c;
@col-47a447:#47a447;
@col-5bc0de:#5bc0de;
@col-39b3d7:#39b3d7;
@col-f0ad4e:#f0ad4e;
@col-ed9c28:#ed9c28;
@col-d9534f:#d9534f;
@col-d2322d:#d2322d;
@col-c3cdd9:#c3cdd9;
@col-fff:#fff;
@col-000:#000;
/* 表单边框样式 */
@col-d5d5d5:#d5d5d5;
@col-f59942:#f59942;


/*初始化默认设置*/
body{font:12px/1.5em Microsoft YaHei,~"\5fae\8f6f\96c5\9ed1,\5b8b\4f53",Arial;color:#444;background:#fff;}
textarea,input,select,table{font-size:12px}
select,input{vertical-align:middle}
fieldset,img{border:0 none}
a{
	color:#444;
	text-decoration:none;
	
	&:hover{
		color:#f00;
		text-decoration:underline;
	}
}
table{margin:0;border-collapse:collapse;border-spacing:0}
button[disabled],html input[disabled] {cursor:default}
/*布局设设置*/
/*
@media (min-width:1003px){
	body{color:#f00;}
}
*/
#lt-wrap{min-width:1003px}

	/*头部*/
	#lt-header{
		width:100%;
		
		#logo{
			width:300px;
			display:block;
		}
	}

	/*内容*/
	#lt-mian{width:100%}

		/*左侧*/
		#lt-left{float:left;position:relative;z-index:1;width:125px;}

		/*右侧*/
		#lt-right{width:100%;float:left;margin-left:-125px;overflow:hidden}
				#lt-sl-right{min-width:878px;margin-left:125px}
				
	/*尾部*/
	#lt-footer{width:100%}
	
	
	
