/*全局文字*/
.font-12{font-size:12px}
.font-14{font-size:14px}
.font-16{font-size:16px}
.font-18{font-size:18px}
.font-20{font-size:20px}
.font-normal{font-weight:normal}
.font-bold{font-weight:bold}


/*初始化默认设置*/
body{font:12px/1.5em Microsoft YaHei,~"\5fae\8f6f\96c5\9ed1,\5b8b\4f53",Arial;color:#444;background:#fff}
textarea,input,select,table{font-size:12px}
select,input{vertical-align:middle}
fieldset,img{border:0 none}
a{
	color:#444;
	text-decoration:none;
	
	&:hover{
		color:#f00;
		text-decoration:underline;
	}
}
table{margin:0;border-collapse:collapse;border-spacing:0}

/*布局设设置*/
/*
@media (min-width:1003px){
	body{color:#f00;}
}
*/
#lt-wrap{min-width:1003px}

	/*头部*/
	#lt-header{
		width:100%;
		
		#logo{
			width:300px;
			display:block;
		}
	}

	/*内容*/
	#lt-mian{width:100%}

		/*左侧*/
		#lt-left{float:left;position:relative;z-index:1;width:125px;}

		/*右侧*/
		#lt-right{width:100%;float:left;margin-left:-125px;overflow:hidden}
				#lt-sl-right{min-width:878px;margin-left:125px}
				
	/*尾部*/
	#lt-footer{width:100%}
	
	
	
