/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-eat {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 18px;
  height: 18px;
}
.icon-ico-home {
  background-image: url(../img/sprite.png);
  background-position: 0px -36px;
  width: 18px;
  height: 17px;
}
.icon-ico2 {
  background-image: url(../img/sprite.png);
  background-position: -36px -36px;
  width: 18px;
  height: 17px;
}
.icon-ico3 {
  background-image: url(../img/sprite.png);
  background-position: -18px -18px;
  width: 18px;
  height: 17px;
}
.icon-ico4 {
  background-image: url(../img/sprite.png);
  background-position: -36px 0px;
  width: 18px;
  height: 17px;
}
.icon-ico5 {
  background-image: url(../img/sprite.png);
  background-position: -36px -17px;
  width: 18px;
  height: 17px;
}
.icon-ico_boardcast {
  background-image: url(../img/sprite.png);
  background-position: -54px -27px;
  width: 17px;
  height: 12px;
}
.icon-ico_mail {
  background-image: url(../img/sprite.png);
  background-position: -54px 0px;
  width: 20px;
  height: 14px;
}
.icon-ico_nav {
  background-image: url(../img/sprite.png);
  background-position: -54px -14px;
  width: 20px;
  height: 13px;
}
.icon-ico_search {
  background-image: url(../img/sprite.png);
  background-position: -18px -36px;
  width: 18px;
  height: 17px;
}
.icon-stay {
  background-image: url(../img/sprite.png);
  background-position: 0px -18px;
  width: 18px;
  height: 18px;
}
.icon-traffic {
  background-image: url(../img/sprite.png);
  background-position: -18px 0px;
  width: 18px;
  height: 18px;
}
